<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de compras</title>
    <link rel="stylesheet" href="stylles.css">
</head>
<body>
    <header>
        <span> Carrinho de compras</span>
    </header>
    <main>
        <div class="page-title">Carrinho</div>
        <div class="content">
            <selection>
                <table>
                    <thead>
                     <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>-</th>
                     </tr>
                    </thead>
                 <tbody>
                    <tr>
                    <td>
                        <div class="produto">
                            <img src="camisas/camisa1.webp" alt="">
                            <div class="info">
                                <div class="name">CAMISA FLAMENGO TREINO</div>
                                <div class="category">G </div>
                            </div>
                        </div>
                    </td>
                    <td>R$ 240,00</td>
                    <td>
                        <div class="qty">
                            <button>-</button>
                            <span>1</span>
                            <button>+</i></button>
                        </div>
                    </td>
                    <td>R$ 240,00</td>
                    <td>
                        <button>X</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="produto">
                            <img src="camisas/camisa2.webp" alt="">
                            <div class="info">
                                <div class="name">CAMISA FLAMENGO 1 2023 </div>
                                <div class="category">G </div>
                            </div>
                           
                        </div>
                    </td>
                    <td>R$ 240,00</td>
                    <td>
                        <div class="qty">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                    </td>
                    <td>R$ 240,00</td>
                    <td>
                        <button> X </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="produto">
                            <img src="camisas/casaco3.webp" alt="">
                            <div class="info">
                                <div class="name">JAQUETA FLAMENGO 2023</div>
                                <div class="category">G </div>
                            </div>
                           
                        </div>
                    </td>
                    <td>R$ 440,00</td>
                    <td>
                        <div class="qty">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                    </td>
                    <td>R$ 440,00</td>
                    <td>
                        <button>X</button>
                    </td>
                </tr>
                 </tbody>
                </table>
                
            </selection>
            <aside>
                <div class="box">
                  <header>Resumo da compra</header>
                  <div class="info">
                    <div><span>Sub-total</span><span>R$ 920,00</span></div>
                    <div><span>Frete</span><span>Gratuito</span></div>
                    <div>
                      <button>
                        Adicionar cupom de desconto
                        <i class="bx bx-right-arrow-alt"></i>
                      </button>
                    </div>
                  </div>
                  <footer>
                    <span>Total</span>
                    <span>R$ 920,00</span>
                  </footer>
                </div>
                <button>Finalizar Compra</button>
              </aside>
            </div>
          </main>
        </body>
      </html>
      