<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Filanização de compra</title>
</head>
<body>

    <img class="hamburguer1-img" src="img/hamburguer.png" alt="Menu hamburguer"> 
    <h1 class="Logo"> ESPORT CENTER</h1>
    <div class="buscar1">
        <input type="text" class="search-text" placeholder="Pesquisar...">
        <img class="ftUsuario-img" src="img/usuario.jpg" alt="usuario">
        <img class="carrinho1" src="img/carrinho.png" alt="carrinho">
        <br>
    </div>
    <div>
        <h4 class="npedido"> Número do pedido :</h4>
        <img class="certo" src="img/Icone-correto-Png.png" alt="conferido">
        <h2> 6582 </h2>
        <p> situação do pedido: </p> 
        <h4> Pagamento em análise</h4>
        <h2>EM ANÁLISE</h2>
        <p>Seu pagamento ja foi enviado e está sendo processado. Você seá informado do resultado por E-mail</p>
        <img class="hamburguer2" src="img/hamburguer.png" alt="cadastro"> 
        <h5>Dados cadastrais</h5>
    </div>
    <div class="dados2"> <h4>Nome: </h4>
        <h4>Endereço:</h4>
        <h4>Cep:</h4>
        <h4>País:</h4>
    </div>
    <div class="valorfinal">
        <h4>Produto</h4>
        <img class="camisa" src="img/Flamengo.png" alt="casmisatime">
        <h3>Camisa Flamengo</h3>
        <p>Qtd</p>
        <p>1</p>
        <p>Preço</p>
        <p>199,99</p>
        <br>
        <p>valor envio: 0</p>
        <p>subtotal : 199,99</p>
        <h4>Total: R$ 199,99</h4>
    </div>
    
</body>
</html>