<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Tela de login</title>
</head>
<body>
    <h1 class="Logo"> ESPORT CENTER</h1>
    <form> 
        <h2 class="cliente">já sou cliente</h2>
        <dif class="box-user">
            <input type="text" name="" required>
            <label>login</label>
            <br>
            <br>
        </div>
        <dif class="box-senha">
            <input type="password" name="" required>
            <label>Senha</label>
            <div class="relembre">
                <span><input type="checkbox">relembre-me</span>
            </div>
            
        </div>
    
        <div class="Botao-Acesso">
            <button>Acesar conta</button>
        </div>
    </div>
    <div class="Suport">
        <a href="#" class="forget"> Esqueceu a Senha?</a>
    </div>
    <div class="LoginGmail">
<span><img class="google-img" src="img/Google.png" alt="Google"></span>
<span>,<a href="#">conectar pelo g-mail</a></span>
    </div>
    <h2 class="Criar-conta">Criar conta</h2>
    <dif class="box-Email">
        <input type="email" placeholder="informe seu E-mail">
        <div class="Botao-Acesso">
            <button>Prosseguir</button>
        </div>

        
    </form>
</body>
</html>
