<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="Logo"> ESPORT CENTER</h1>
    <img class="hamburguer-img" src="img/hamburguer.png" alt="Menu hamburguer">
    <h4 class="menu-Humburguer">Menu</h4>
    <div class="buscar">
        <input type="text" class="search-text" placeholder="Pesquisar...">
    </div>
    <br>
    <img class="usuario-img" src="img/usuario.jpg" alt="menu usuario">
    <h4 class="nome"> Bem Vindo Nome !</h4>
    <img class="carrinho-img" src="img/carrinho.png">
    <br>
    <br>
    <br>
    <img class="Boneco-img" src="img/boneco.png" alt="Boneco-img">
    <h3 class="Dados-pessoais"> Dados-pessoais </h3>
    <br>
    <img class="localizacao-img" src="img/endereco.png" alt="endereco">
    <h3 class="endereco"> Meu Endereço </h3>
    <br>
    <img class="cartao-img" src="img/cartao.png" alt="cartao">
    <h3 class="cartao"> Cartões </h3>
    <br>
    <img class="coracao-img" src="img/Coração-Preto-PNG.png" alt="coracao">
    <h3 class="coracao"> Favoritos </h3>
    <br>
    <img class="ajuda-img" src="img/ajuda.png" alt="ajuda">
    <h3 class="ajuda"> Ajuda </h3>
    <br>
    <img class="sair-img" src="img/sair.png" alt="sair">
    <h3 class="sair"> Sair </h3>
    <br>
    <form action="">
        <div class="nome">
            <input type="text" name="username" id="username" placeholder="Nome">
        </div>
        <br>
        <div class="sobre-nome">
            <input type="text" name="username" id="username" placeholder="Sobre Nome">
        </div>
        <br>
        <div class="email-css">
            <input type="email" name="username" id="email" placeholder="E-Mail">
        </div>
        <br>
        <div class="data-nsc">
            <input type="text" name="data de nascimento" id="text" placeholder="Data de nascimento">
            </div>
            <br>
        <div class="cpf">
            <input type="text" name="data de nascimento" id="text" placeholder="CPF">
            </div>
            <br>
        <div class="cep">
            <input type="text" name="cep" id="text" placeholder="CEP">
            </div>
            <br>
            <div class="celular">
                <input type="text" name="username" id="username" placeholder="Telefone">
            </div>
            <br>
            <div class="telefone">
                <input type="text" name="username" id="username" placeholder="Celular">
            </div>
            <br>
            <div class="rua">
                <input type="text" name="username" id="username" placeholder="Rua">
            </div>
            <br>
            <div class="bairro">
                <input type="text" name="username" id="username" placeholder="Bairro">
            </div>
            <br>
            <input type="button" value="editar"> <input type="button" value="Salvar">
   
        </div>
        
    </form>


</body>
</html>