<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Produtos</title>
</head>
<body>
    <header class="header">
        <a href="">Sport Center</a>
        
    </header>
    <h1>CAMISAS DE TIME MASCULINO FUTEBOL</h1>
   <main>

    <aside>
        <div class="box">
          <header>Tamanho</header>
          <div class="info">
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="" id="btnBusca" alt="Buscar"/>
          </div>
        </div>
            <div class="tamanho">
             <span><button> P </button></span>  
             <span><button> M </button></span>  
             <span><button> G </button></span>  
             <span><button> GG </button></span>  
            </div>
        
        </aside>
        <aside>
        <div class="box">
          <header>Preço</header>
          <div class="info">
          <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="" id="btnBusca" alt="Buscar"/>
          </div>
        </div>
            <div class="preço ">
            <div> <button>-</button> <span>Até R$ 80</span>  </div>
            <div><button>-</button> <span>R$ 80 - R$ 100</span></div>
            <div><button>-</button> <span>R$ 100 - R$150</span></div>
            <div><button>-</button> <span>Acima de R$200</span></div>
            </div>
        <div class="but">
            <div class="promoçoes"></div>
            <button>Promocões</button>

            <div class="desconto"></div>
            <button>Descontos</button>

            <div class="clube"></div>
            <button>Clube</button>

            <div class="frete"></div>
            <button>Frete Grátis</button>
        </div>
      </aside>
    </div>
    <section class="flex">
       
<div>
 <img src="camisas/camisa1.webp" >
 <div class="info">
    <div class="name">
       <button>CAMISA FLAMENGO TREINO</button> </div>
    <div class="valor"> R$ 240,00 </div>
   </div>
   <div class="qty">
    <button>COMPRAR</button>
    
    </div>
 </div>

<div>
    <img src="camisas/camisa2.webp" >
    <div class="info">
        <div class="name">
           <button>CAMISA FLAMENGO TREINO</button> </div>
        <div class="valor"> R$ 240,00 </div>
       </div>
       <div class="qty">
        <button>COMPRAR</button>
        
        </div>
 </div>

    <div>
        <img src="camisas/camisa4.webp" >
        <div class="info">
            <div class="name">
               <button>CAMISA FLAMENGO TREINO</button> </div>
            <div class="valor"> R$ 240,00 </div>
           </div>
           <div class="qty">
            <button>COMPRAR</button>
            
            </div>
    </div>

    <div>
        <img src="camisas/camisa5.webp" >
        <div class="info">
            <div class="name">
               <button>CAMISA FLAMENGO TREINO</button> </div>
            <div class="valor"> R$ 240,00 </div>
           </div>
           <div class="qty">
            <button>COMPRAR</button>
            
            </div>
    </div>

    <div>
        <img src="camisas/camisa6.webp" >
        <div class="info">
            <div class="name">
               <button>CAMISA FLAMENGO TREINO</button> </div>
            <div class="valor"> R$ 240,00 </div>
           </div>
           <div class="qty">
            <button>COMPRAR</button>
            
            </div>
    </div>

    <div>
        <img src="camisas/casaco3.webp" >
        <div class="info">
            <div class="name">
               <button>CAMISA FLAMENGO TREINO</button> </div>
            <div class="valor"> R$ 240,00 </div>
           </div>
           <div class="qty">
            <button>COMPRAR</button>
            
            </div>
    </div>
    <div>
        <img src="camisas/camisa2.webp" >
        <div class="info">
            <div class="name">
               <button>CAMISA FLAMENGO TREINO</button> </div>
            <div class="valor"> R$ 240,00 </div>
           </div>
           <div class="qty">
            <button>COMPRAR</button>
            
            </div>
     </div>
    
        <div>
            <img src="camisas/camisa4.webp" >
            <div class="info">
                <div class="name">
                   <button>CAMISA FLAMENGO TREINO</button> </div>
                <div class="valor"> R$ 240,00 </div>
               </div>
               <div class="qty">
                <button>COMPRAR</button>
                
                </div>
        </div>
    </section>
   
  </main>
</body>
</html>

    